<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.LoginMapper">

	<select id="queryLogin" resultType="java.util.Map">
		select * from users where username=#{username} and password=#{password}
	</select>
	<insert id="addLogin">
		insert into users (username,password,status) values (#{username},#{password},0)
	</insert>
	
	<select id="queryLoginAll" resultType="java.util.Map">
		select * from users limit #{startPage},#{number}
	</select>
	<select id="queryLoginCount" resultType="int">
		select count(1) from users
	</select>
	<update id="updateLogin">
		update users set password=#{password} where username=#{username}
	</update>
	<update id="saveBlackStatus">
		update users set status=#{status} where username=#{username}
	</update>
</mapper>