<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.RoomInformationMapper">
	<select id="queryRoomInformationStatus" resultType="java.util.Map">
		select * from room_information where 
		<include refid="roomStatus"/>
	</select>
	
	<update id="updateRoomInformationStatus">
		update room_information  set
		<include refid="roomStatus"/>
		where room_number=#{room_number}
	</update>
	
	<sql id="roomStatus">
		room_status=#{room_status}
	</sql>
	<select id="queryRoomInformationIn" resultType="java.util.Map">
		select * from room_information where room_status!=0 limit #{startPage},#{number}
	</select>
	
	<select id="queryRoomInformationInCount" resultType="java.util.Map">
		select count(1) from room_information where room_status!=0
	</select>
	<select id="findRoom_number" resultType="java.util.Map">
		select room_number from room_standard where room_number not in(select room_standard.room_number  from room_information  left join room_standard ON room_standard.room_number = room_information.room_number)
	</select>
	
	<insert id="addRoomInFormation" parameterType="com.pojo.RoomInFormation">
		insert into room_information (id,room_number,room_name,room_area,air_conditioner,television,telephone,toilet,room_status,establish_date)
		 values (#{id},#{room_number},#{room_name},#{room_area},#{air_conditioner},#{television},#{telephone},#{toilet},#{room_status},#{establish_date})
	</insert>
	
	
</mapper>