<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.RoomStandardMapper">
	<insert id="addRoomStandard" parameterType="com.pojo.RoomStandard">
		insert into room_standard (id,floor,room_number,bed_room,orientation,room_money,establish_date)
		 values (#{id},#{floor},#{room_number},#{bed_room},#{orientation},#{room_money},#{establish_date})
	</insert>
	<select id="queryRoomStandardCount" resultType="int">
		select count(1) from room_standard  where 1=1
		<if test="findCondition !=null and findCondition!='' and findCondition!='null'">
   		<![CDATA[
			 and room_number like CONCAT('%',#{findCondition},'%' )
		]]>
		</if>
	</select>
	
	<select id="queryRoomStandard" resultType="java.util.Map">
	select * from room_standard  where 1=1
	<if test="findCondition !=null and findCondition!='' and findCondition!='null'">
   		<![CDATA[
			 and room_number like CONCAT('%',#{findCondition},'%' )
		]]>
		</if>
		limit #{startPage},#{number}
	</select>
	
	<select id="queryRoomStandardById" parameterType="String" resultType="com.pojo.RoomStandard">
		select * from room_standard where id=#{id}
	</select>
	
	<update id="updateRoomStandard" parameterType="com.pojo.RoomStandard">
		update room_standard set floor=#{floor},
   		room_number=#{room_number},bed_room=#{bed_room},orientation=#{orientation}
   		,room_money=#{room_money},establish_date=#{establish_date} where id=#{id}
	</update>
	
	<delete id="delRoomStandard" parameterType="String" >
		delete from room_standard where id=#{delId}
	</delete>
	
</mapper>